<%= form_for(@testclass2) do |f| %>
  <% if @testclass2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testclass2.errors.count, "error") %> prohibited this testclass2 from being saved:</h2>

      <ul>
      <% @testclass2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
