<%= form_for(@testclass) do |f| %>
  <% if @testclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testclass.errors.count, "error") %> prohibited this testclass from being saved:</h2>

      <ul>
      <% @testclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
