<h1>Listing testclasses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testclasses.each do |testclass| %>
      <tr>
        <td><%= link_to 'Show', testclass %></td>
        <td><%= link_to 'Edit', edit_testclass_path(testclass) %></td>
        <td><%= link_to 'Destroy', testclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testclass', new_testclass_path %>
